@import url("~leaflet/dist/leaflet.css");
.leaflet-container {
    width: 100%;
    height: 100vh;
  }
  /* Add these styles to your CSS file */

.modal-payment {
  /* Add styles for payment modal */
}

.bg-gradient-payment {
  background: linear-gradient(to right, #ff8c00, #ffa500); /* Adjust colors as needed */
  /* Add additional background styles for payment modal */
}
